* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.logo {
  width: 40px;
  height: 40px;
}

.wrapper {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto 0;
}

.greenButton {
  width: 100%;
  border: 0;
  background-color: #9dd458;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 20px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: relative;

  img {
    position: absolute;
    right: 25px;
    width: 16px;
    top: calc(50% - 8px);

    transition: transform 0.15s ease-in-out;
  }

  &:hover {
    background-color: lighten(#9dd458, 10%);

    img {
      transform: translateX(5px);
    }
  }
  &:active {
    background-color: darken(#9dd458, 10%);
  }
}
