.content {
  padding: 30px;
  .contentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    .contentSearch {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid #eee;
      border-radius: 10px;
      padding: 10px;
      input {
        border: none;
        width: 180px;
      }
      input:focus {
        outline: none;
      }
      .contentClearInputButton {
        position: absolute;
        right: 0;
        cursor: pointer;
      }
    }
  }
}
.sneakers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}
